body {
    font-family: Arial, Helvetica, sans-serif;
}

nav  {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    border-radius: 5px;
    background-color: grey;
    width: 500px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.radio-knop-groep {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

#radio-knop-groep-parent{
    flex-grow: 1;
}

.radio-knop-groep label {
    width: 50px;
}

.volgende-vorige-knop-groep {
    display: flex;
    flex-direction: row;
}

.volgende-vorige-knop-groep button {
    width: 80px;
}

#imgCaption {
    font-size: 14px;
}

#volgende-knop, #verzend-knop, button {
    width: 150px;
    height: 25px;
    background-color: lightblue;
    border: none;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

#button-volgend-foto {
    transition: transform 10s ease;
}

#volgende-knop:hover, #verzend-knop:hover, button:hover {
    background-color: lightgreen;
    transform: rotateY(360deg);
}

#radio-knop-groep-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.radio-knop-groep {
    background-color: rgb(158, 156, 156);
    margin: 1px;
    height: 40px;
}